@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Helvetica;
  }
}

body::-webkit-scrollbar {
  width: 5px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: #000000 #111111;
}
body::-webkit-scrollbar-track {
  background: #111111;
}
body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 6px;
}

div::-webkit-scrollbar {
  width: 5px;
}
div {
  scrollbar-width: none;
  scrollbar-color: #000000 #111111;
}
div::-webkit-scrollbar-track {
  background: #111111;
}
div::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 6px;
}

select::-webkit-scrollbar {
  width: 5px;
}
select {
  scrollbar-width: none;
  scrollbar-color: #000000 #111111;
}
select::-webkit-scrollbar-track {
  width: 1px;
  background: #111111;
}
select::-webkit-scrollbar-thumb {
  background-color: #000000;
  width: 5px;
  border-radius: 5px;
}
