.seabed-container {
  overflow: hidden;
  background-size: 100% 100%;
}

.seabed-container {
  width: 100%;
  height: 100%;
}

.box {
  position: absolute;
  background-color: transparent;
  background: transparent;
  top: 0px;
  left: 0px;
  width: 20000px;
  height: 100%;
  overflow: hidden;
  z-index: 7;
  animation: cave_running 350s infinite forwards;
}

@keyframes cave_running {
  100% {
    transform: translateX(calc(-20000px + 115vw));
  }
}

.box img {
  height: 100%;
  width: 100%;
}

.linksbox {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #000000;
  font-size: 25px;
  color: #aebc1f;
}

.info1 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #000000;
  font-size: 25px;
  color: #aebc1f;
}

.info2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #000000;
  font-size: 25px;
  color: #aebc1f;
}

#characterbox {
  position: absolute;
  width: 410px;
  height: 75px;
  z-index: 12;
  animation: sub_moving 2s infinite forwards;
}

#character {
  position: absolute;
  width: 110px;
  height: 75px;
  background-size: 100% 100%;
  z-index: 12;
  top: 150px;
  animation: sub_moving 2s infinite forwards;
}

@keyframes sub_moving {
  25% {
    transform: translateX(8px);
  }

  50% {
    transform: translateX(0) translateY(5px);
  }

  75% {
    transform: translateX(8px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

.water {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 6;
  background-color: rgba(1, 40, 54, 0.233);
  pointer-events: none;
}

.urchin1 {
  position: absolute;
  top: 50%;
  left: 2000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin2 {
  position: absolute;
  top: 40%;
  left: 3000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin3 {
  position: absolute;
  top: 60%;
  left: 4000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin4 {
  position: absolute;
  top: 50%;
  left: 5000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin5 {
  position: absolute;
  top: 20%;
  left: 6000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin6 {
  position: absolute;
  top: 70%;
  left: 7000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin7 {
  position: absolute;
  top: 50%;
  left: 8000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin8 {
  position: absolute;
  top: 40%;
  left: 9000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin9 {
  position: absolute;
  top: 70%;
  left: 10000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin10 {
  position: absolute;
  top: 50%;
  left: 11000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin11 {
  position: absolute;
  top: 50%;
  left: 12000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin12 {
  position: absolute;
  top: 20%;
  left: 13000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin13 {
  position: absolute;
  top: 60%;
  left: 14000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin14 {
  position: absolute;
  top: 30%;
  left: 15000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin15 {
  position: absolute;
  top: 50%;
  left: 16000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin16 {
  position: absolute;
  top: 50%;
  left: 17000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin17 {
  position: absolute;
  top: 60%;
  left: 18000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin18 {
  position: absolute;
  top: 40%;
  left: 19000px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.urchin19 {
  position: absolute;
  top: 30%;
  left: 19500px;
  width: 100px;
  height: 75px;
  background-size: 100% 100%;
}

.clam1 {
  position: absolute;
  bottom: 5%;
  left: 500px;
  width: 100px;
  height: 130px;
  background-size: 100% 100%;
}

.clam2 {
  position: absolute;
  bottom: 5%;
  left: 1500px;
  width: 100px;
  height: 130px;
  background-size: 100% 100%;
}

.clam3 {
  position: absolute;
  bottom: 5%;
  left: 3500px;
  width: 100px;
  height: 130px;
  background-size: 100% 100%;
}

.clam4 {
  position: absolute;
  bottom: 5%;
  left: 5500px;
  width: 100px;
  height: 130px;
  background-size: 100% 100%;
}

.clam5 {
  position: absolute;
  bottom: 5%;
  left: 7500px;
  width: 100px;
  height: 130px;
  background-size: 100% 100%;
}

.clam6 {
  position: absolute;
  bottom: 5%;
  left: 9500px;
  width: 100px;
  height: 130px;
  background-size: 100% 100%;
}

.clam7 {
  position: absolute;
  bottom: 5%;
  left: 11500px;
  width: 100px;
  height: 130px;
  background-size: 100% 100%;
}

.clam8 {
  position: absolute;
  bottom: 5%;
  left: 13500px;
  width: 100px;
  height: 130px;
  background-size: 100% 100%;
}

.clam9 {
  position: absolute;
  bottom: 5%;
  left: 15500px;
  width: 100px;
  height: 130px;
  background-size: 100% 100%;
}

.clam10 {
  position: absolute;
  bottom: 5%;
  left: 17500px;
  width: 100px;
  height: 130px;
  background-size: 100% 100%;
}

.clam11 {
  position: absolute;
  bottom: 5%;
  left: 19500px;
  width: 100px;
  height: 130px;
  background-size: 100% 100%;
}

.whale1 {
  position: absolute;
  bottom: 30%;
  right: -400px;
  width: 300px;
  height: 150px;
  background-size: 100% 100%;
  animation: whale 90s linear forwards;
  animation-delay: 10s;
}

.sprite {
  z-index: 11;
}

@keyframes whale {
  0% {
    right: -400px;
  }

  100% {
    right: 120%;
  }
}

.whale2 {
  position: absolute;
  bottom: 50%;
  right: -400px;
  width: 300px;
  height: 150px;
  background-size: 100% 100%;
  animation: whale2 90s linear forwards;
  animation-delay: 20s;
}

@keyframes whale2 {
  0% {
    right: -400px;
  }

  100% {
    right: 120%;
  }
}

.whale3 {
  position: absolute;
  bottom: 50%;
  right: -400px;
  width: 300px;
  height: 150px;
  background-size: 100% 100%;
  animation: whale3 90s linear forwards;
  animation-delay: 50s;
}

@keyframes whale3 {
  0% {
    right: -400px;
  }

  100% {
    right: 120%;
  }
}

.whale4 {
  position: absolute;
  bottom: 50%;
  right: -400px;
  width: 300px;
  height: 150px;
  background-size: 100% 100%;
  animation: whale4 90s linear forwards;
  animation-delay: 120s;
}

@keyframes whale4 {
  0% {
    right: -400px;
  }

  100% {
    right: 120%;
  }
}

.snow1 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-image: url(https://tim-school.com/codepen/2dgame/sonar.png);
  background-size: 100% 100%;
  animation: snow1 3s linear forwards;
}

@keyframes snow1 {
  0% {
    left: 20px;
  }

  100% {
    left: 110%;
    opacity: 0;
  }
}