@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: Helvetica;
  }
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SFPRODISPLAYBOLD.OTF) format("truetype");
}

body::-webkit-scrollbar {
  width: 5px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: #000000 #111111;
}
body::-webkit-scrollbar-track {
  background: #111111;
}
body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 6px;
}

div::-webkit-scrollbar {
  width: 5px;
}
div {
  scrollbar-width: thin;
  scrollbar-color: #000000 #111111;
}
div::-webkit-scrollbar-track {
  background: #111111;
}
div::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 6px;
}

select::-webkit-scrollbar {
  width: 5px;
}
select {
  scrollbar-width: thin;
  scrollbar-color: #000000 #111111;
}
select::-webkit-scrollbar-track {
  width: 1px;
  background: #111111;
}
select::-webkit-scrollbar-thumb {
  background-color: #000000;
  width: 5px;
  border-radius: 5px;
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6; /* Dim the button when disabled */
  pointer-events: none; /* Disable pointer events */
  filter: grayscale(100%); /* Optionally desaturate the button */
}

.zoom-anim {
  animation: zoom_anim 2s infinite forwards;
}

@keyframes zoom_anim {
  0% {
  }
  50% {
    transform: scale(1.02);
  }
  100% {
  }
}
